body{
    background-image: linear-gradient(to right, rgb(134, 82, 255) 50%,rgb(152, 152, 255));
    /* background-image: radial-gradient(circle, white, gold); */
    background-attachment: fixed;
}

h1 {
    color: rgb(255, 0, 0);
    
    text-shadow: 2px 1px 2px rgb(0,0,0);

    font-size: 25px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

/* Comentários em CSS */