#container{
    position: relative;
    height: 500px;
    background-color: purple;
    padding: 10px;

}

#conteudo{
    position: absolute;
    width: 400px;
    height: 200px;
    left: 50%;
    top: 50%;
    background-color: yellow;

    transform: translate(-50%, -50%);
}